<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo</title>
  <style>
    .box{
        display: block;
        width: 80px;
        height: 80px;
        background-color: #8a1818;
    }
    h1{
        font-size: 20px;
    }
    @media screen and (max-width: 600px) {
    .box {
        background-color: lightblue;
    }
    h1{
        font-size: 80px;
    }

}
  </style>
</head>
<body>
    <div class="box"></div>
    <h1>Hello</h1>
</body>
</html>